In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_path = "../data/PN chůze/"
Files = os.listdir(data_path)

In [3]:
overview = pd.read_excel(data_path + '/PN chuze.xlsx')

In [4]:
overview.rename(index=str, columns={"Unnamed: 0": "Filename", "Unnamed: 1": "Type"},inplace=True)

In [5]:
overview.head()

,Filename,Type,od,do,od.1,do.1,od.2,do.2,od.3,do.3,...,od.6,do.6,od.7,do.7,od.8,do.8,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,01_1_Char00.bvh,norma,38314,40368,41497.0,69503.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03_1_Char00.bvh,ataxie,40200,41032,42822.0,46285.0,47286.0,49027.0,55141.0,58679.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,04_1_Char00.bvh,norma,28500,30879,32283.0,34970.0,36292.0,39105.0,39856.0,43236.0,...,52700.0,61820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06_1_Char00.bvh,norma,30120,32045,34437.0,36508.0,38509.0,40470.0,41688.0,52101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07_1_Char00.bvh,norma,28900,63720,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
X = pd.DataFrame(columns=['PatientID','Type','N_parts','Length'])
for file in overview.Filename:
    #print(file)
    thisX = pd.DataFrame(columns=['PatientID','Type','N_parts','Length'])
    row = overview.loc[overview.Filename==file,:].dropna(axis=1)
    thisX.Type = row.Type
    thisX.N_parts = (row.size-2)/2
    thisX.PatientID = file[:-4]
    len = 0
    for n in range(2,row.size,2):
        len = len + row.iloc[0,n+1] - row.iloc[0,n]
    thisX.Length = len
    X = pd.concat([X,thisX],ignore_index=True)

## Data overview

In [7]:
X

          PatientID    Type  N_parts   Length
0       01_1_Char00   norma      2.0  30060.0
1       03_1_Char00  ataxie      5.0  10482.0
2       04_1_Char00   norma      7.0  24964.0
3       06_1_Char00   norma      6.0  23941.0
4       07_1_Char00   norma      1.0  34820.0
5     740516_Char00   norma      6.0  13773.0
6     535525_Char00   norma      3.0  15432.0
7     736123_Char00  ataxie      3.0  15208.0
8     715211_Char00  ataxie      2.0  18705.0
9     766012_Char00  ataxie      1.0  19541.0
10    755730_Char00  ataxie      1.0  14727.0
11    920828_Char00   norma     11.0  10782.0
12    681001_Char00  ataxie      1.0   9805.0
13  25031996_Char00   norma      4.0  38878.0
14    615829_Char00  ataxie      1.0  27922.0
15  15051994_Char00   norma      8.0  22186.0
16      09_1_Char00  ataxie      1.0  26580.0

In [8]:
print('norma\t' + str(sum(X.Type == 'norma')) + '\nataxie\t' + str(sum(X.Type == 'ataxie')))

norma	9
ataxie	8

### DATA CUT, based on excel table

In [9]:
output_path = '../data/CUT/'

In [10]:
for file in overview.Filename:
    print(file)
    thisdata = np.load(data_path+file[:-4] + '_filt.npy')
    row = overview.loc[overview.Filename==file,:].dropna(axis=1)
    for n in range(2,row.size,2):
        print('part ' + str(int((n-2)/2)))
        start = np.int(row.iloc[0,n])
        end = np.int(row.iloc[0,n+1])
        x = thisdata[:,start:end,:]
        np.save(output_path + file[:-4] + "_part" + str(int((n-2)/2)), x)

01_1_Char00.bvh
part 0
part 1
03_1_Char00.bvh
part 0
part 1
part 2
part 3
part 4
04_1_Char00.bvh
part 0
part 1
part 2
part 3
part 4
part 5
part 6
06_1_Char00.bvh
part 0
part 1
part 2
part 3
part 4
part 5
07_1_Char00.bvh
part 0
740516_Char00.bvh
part 0
part 1
part 2
part 3
part 4
part 5
535525_Char00.bvh
part 0
part 1
part 2
736123_Char00.bvh
part 0
part 1
part 2
715211_Char00.bvh
part 0
part 1
766012_Char00.bvh
part 0
755730_Char00.bvh
part 0
920828_Char00.bvh
part 0
part 1
part 2
part 3
part 4
part 5
part 6
part 7
part 8
part 9
part 10
681001_Char00.bvh
part 0
25031996_Char00.bvh
part 0
part 1
part 2
part 3
615829_Char00.bvh
part 0
15051994_Char00.bvh
part 0
part 1
part 2
part 3
part 4
part 5
part 6
part 7
09_1_Char00.bvh
part 0