In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_path = "../data/CALC/"
calcFiles = [f for f in os.listdir(data_path) if f.endswith('.calc')]

In [3]:
calcFiles

['A-715211-Char00.calc',
 'A-03-1-Char00.calc',
 'N-04-1-Char00.calc',
 'A-755730-Char00.calc',
 'N-07-1-Char00.calc',
 'N-25031996-Char00.calc',
 'A-615829-Char00.calc',
 'A-09-1-Char00.calc',
 'N-740516-Char00.calc',
 'N-15051994-Char00.calc',
 'A-681001-Char00.calc',
 'A-736123-Char00.calc',
 'N-06-1-Char00.calc',
 'N-920828-Char00.calc',
 'A-766012-Char00.calc',
 'N-535525-Char00.calc',
 'N-01-1-Char00.calc']

In [4]:
overview = pd.read_excel('../data/PN chuze.xlsx')

In [5]:
overview.rename(index=str, columns={"Unnamed: 0": "FilenameBVH", "Unnamed: 4": "Type"},inplace=True)
overview.head()

,FilenameBVH,Ts [s],fs [Hz],Frames,Type,od,do,od.1,do.1,od.2,...,od.6,do.6,od.7,do.7,od.8,do.8,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,N-01-1-Char00.bvh,0.008,125.0,69504,norma,38314,40368,41497.0,69503.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A-03-1-Char00.bvh,0.008,125.0,71498,ataxie,40200,41032,42822.0,46285.0,47286.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N-04-1-Char00.bvh,0.008,125.0,61846,norma,28500,30879,32283.0,34970.0,36292.0,...,52700.0,61820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N-06-1-Char00.bvh,0.008,125.0,61718,norma,30120,32045,34437.0,36508.0,38509.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N-07-1-Char00.bvh,0.008,125.0,64262,norma,28900,63720,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for file in overview.FilenameBVH:
    overview.loc[overview.FilenameBVH == file,'File'] = file[:-4]
cols = overview.columns.tolist()
cols.insert(0, cols.pop(cols.index('File')))
overview = overview.reindex(columns= cols)
overview.drop(columns='FilenameBVH',inplace=True)
overview.head()

,File,Ts [s],fs [Hz],Frames,Type,od,do,od.1,do.1,od.2,...,od.6,do.6,od.7,do.7,od.8,do.8,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,N-01-1-Char00,0.008,125.0,69504,norma,38314,40368,41497.0,69503.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A-03-1-Char00,0.008,125.0,71498,ataxie,40200,41032,42822.0,46285.0,47286.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N-04-1-Char00,0.008,125.0,61846,norma,28500,30879,32283.0,34970.0,36292.0,...,52700.0,61820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N-06-1-Char00,0.008,125.0,61718,norma,30120,32045,34437.0,36508.0,38509.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N-07-1-Char00,0.008,125.0,64262,norma,28900,63720,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
output_path = '../data/CALC_SEG/'

In [8]:
for file in calcFiles:
    print(file)
    thisdata = pd.read_csv('../data/CALC/' + file,header=2,sep='\t')
    thisdata.drop(columns='Unnamed: 946',inplace=True)
    row = overview.loc[overview.File==file[:-5],:].dropna(axis=1)
    for n in range(5,row.size,2):
        print('part ' + str(int((n-2)/2)))
        start = np.int(row.iloc[0,n])
        end = np.int(row.iloc[0,n+1])
        x = thisdata.loc[start:end,:]
        x.to_csv(output_path + file[:-5] + "_part" + str(int((n-2)/2))+'.csv')

A-715211-Char00.calc
part 1
part 2
A-03-1-Char00.calc
part 1
part 2
part 3
part 4
part 5
N-04-1-Char00.calc
part 1
part 2
part 3
part 4
part 5
part 6
part 7
A-755730-Char00.calc
part 1
N-07-1-Char00.calc
part 1
N-25031996-Char00.calc
part 1
part 2
part 3
part 4
A-615829-Char00.calc
part 1
A-09-1-Char00.calc
part 1
N-740516-Char00.calc
part 1
part 2
part 3
part 4
part 5
part 6
N-15051994-Char00.calc
part 1
part 2
part 3
part 4
part 5
part 6
part 7
part 8
A-681001-Char00.calc
part 1
A-736123-Char00.calc
part 1
part 2
part 3
N-06-1-Char00.calc
part 1
part 2
part 3
part 4
part 5
part 6
N-920828-Char00.calc
part 1
part 2
part 3
part 4
part 5
part 6
part 7
part 8
part 9
part 10
part 11
A-766012-Char00.calc
part 1
N-535525-Char00.calc
part 1
part 2
part 3
N-01-1-Char00.calc
part 1
part 2