In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_path = "../data/CALC/"
calcFiles = [f for f in os.listdir(data_path) if f.endswith('.calc')]

In [3]:
calcFiles

['A-715211-Char00.calc',
 'A-03-1-Char00.calc',
 'N-04-1-Char00.calc',
 'A-755730-Char00.calc',
 'N-10-1-Char00.calc',
 'N-07-1-Char00.calc',
 'A-13-1-Char00.calc',
 'N-25031996-Char00.calc',
 'A-615829-Char00.calc',
 'N-14-2-Char00.calc',
 'A-09-1-Char00.calc',
 'N-740516-Char00.calc',
 'N-16-2-Char00.calc',
 'N-15051994-Char00.calc',
 'A-681001-Char00.calc',
 'A-736123-Char00.calc',
 'N-06-1-Char00.calc',
 'N-15-1-Char00.calc',
 'N-920828-Char00.calc',
 'A-766012-Char00.calc',
 'N-535525-Char00.calc',
 'N-01-1-Char00.calc']

In [14]:
overview = pd.read_csv('../data/PN chuze/PN ataxie.csv')
overview.tail()

,File,Ts [s],fs [Hz],Frames,Type,od,do,od.1,do.1,od.2,...,od.6,do.6,od.7,do.7,od.8,do.8,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
17,N-10-1-Char00,0.017,58.823529,7575.0,norma,30604,31960,32420.0,33300.0,33450.0,...,40400.0,42100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,A-13-1-Char00,0.017,58.823529,2234.0,ataxie,30000,30128,30158.0,30392.0,31400.0,...,35251.0,35670.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,N-14-2-Char00,0.017,58.823529,4820.0,norma,12230,13380,14892.0,15859.0,17267.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,N-15-1-Char00,0.017,58.823529,7756.0,norma,23820,24240,24774.0,25295.0,25433.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,N-16-2-Char00,0.017,58.823529,4197.0,norma,24935,25700,26740.0,27500.0,28166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
output_path = '../data/CALC_SEG/'

In [18]:
for file in calcFiles:
    if file == 'A-13-1-Char00.calc':   # UPDATE ONLY THIS FILE, delete this IF to process all files
        print(file)
        thisdata = pd.read_csv('../data/CALC/' + file,header=2,sep='\t')
        thisdata.drop(columns='Unnamed: 946',inplace=True)
        row = overview.loc[overview.File==file[0:-5],:].dropna(axis=1)
        for n in range(5,row.size,2):
            print('part ' + str(int((n-2)/2)))
            start = np.int(row.iloc[0,n])
            end = np.int(row.iloc[0,n+1])
            x = thisdata.loc[start:end,:]
            x.to_csv(output_path + file[:-5] + "_part" + str(int((n-2)/2))+'.csv')

A-13-1-Char00.calc
part 1
part 2
part 3
part 4
part 5
part 6
part 7