In [8]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from bvh import Bvh

In [2]:
calc_path = '../data/CALC/'
bvh_path = '../data/PN chuze/'
calc_files = [f for f in os.listdir(calc_path) if f.endswith('.calc')]
bvh_files = [f for f in os.listdir(bvh_path) if f.endswith('.bvh')]

In [3]:
bvh_files

['16_2_Char00.bvh',
 '13_1_Char00.bvh',
 '15_1_Char00.bvh',
 '10_1_Char00.bvh',
 '14_2_Char00.bvh']

In [4]:
calc_files

['A-715211-Char00.calc',
 'A-03-1-Char00.calc',
 'N-04-1-Char00.calc',
 'A-755730-Char00.calc',
 'N-10-1-Char00.calc',
 'N-07-1-Char00.calc',
 'A-13-1-Char00.calc',
 'N-25031996-Char00.calc',
 'A-615829-Char00.calc',
 'N-14-2-Char00.calc',
 'A-09-1-Char00.calc',
 'N-740516-Char00.calc',
 'N-16-2-Char00.calc',
 'N-15051994-Char00.calc',
 'A-681001-Char00.calc',
 'A-736123-Char00.calc',
 'N-06-1-Char00.calc',
 'N-15-1-Char00.calc',
 'N-920828-Char00.calc',
 'A-766012-Char00.calc',
 'N-535525-Char00.calc',
 'N-01-1-Char00.calc']

In [4]:
X = pd.read_csv('../data/PN chuze/PN ataxie.csv',usecols=[0,1])
X.head()

            File  Ts [s]
0  N-01-1-Char00   0.008
1  A-03-1-Char00   0.008
2  N-04-1-Char00   0.008
3  N-06-1-Char00   0.008
4  N-07-1-Char00   0.008

In [17]:
#file = '16_2_Char00.bvh'
file = '13_1_Char00.bvh'

In [18]:
 with open(bvh_path + file) as f:
        mocap = Bvh(f.read())
        number_frames = mocap.nframes
        T_sampling = mocap.frame_time

In [19]:
number_frames

37232

In [20]:
T_sampling

0.017

In [21]:
#file = 'N-16-2-Char00.calc'
file = 'A-13-1-Char00.calc'

In [22]:
thisdata = pd.read_csv(calc_path + file,header=2,sep='\t')
thisdata.head()

,01-X-x,01-X-y,01-X-z,01-V-x,01-V-y,01-V-z,01-Q-s,01-Q-x,01-Q-y,01-Q-z,...,59-Q-x,59-Q-y,59-Q-z,59-A-x,59-A-y,59-A-z,59-W-x,59-W-y,59-W-z,Unnamed: 946
0,-0.4095,0.3657,0.2316,0.0016,0.0020,0.0028,0.5358,0.4036,0.6061,-0.4274,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,-0.4095,0.3656,0.2317,0.0018,0.0016,0.0032,0.5358,0.4036,0.6061,-0.4274,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,-0.4095,0.3656,0.2317,0.0010,0.0006,0.0024,0.5359,0.4035,0.6061,-0.4275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,-0.4095,0.3655,0.2317,0.0028,-0.0010,0.0037,0.5359,0.4035,0.6060,-0.4276,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,-0.4095,0.3655,0.2317,0.0016,0.0004,0.0035,0.5359,0.4035,0.6060,-0.4276,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [23]:
thisdata.shape

(37232, 947)